<ul id="title-bar">
    <li><img id="icon" src="/images/money.png"></li>
    <li>
        <h1>{{name}} - About Page</h1>
    </li>
</ul>
<p>Welcome to {{name}}</p>
<p>The best online currency converter</p>
<p>Ths site is by {{author}}.</p>
